<!-- templates/base.html.twig -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
{% include 'navbar.html.twig' %}

<div class="container mx-auto mt-8">
    {% block body %}
    {% endblock %}
</div>

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
